{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content_header %}
            <td class="table_column">
                <a id="logo" href="{% url 'home' %}"><img src="/static/images/logo.png" height=60 width=100 alt="Whitesquare logo"></a>
            </td>
{% endblock %}

{% block user_links %}
                {% if user.is_authenticated %}
                    <td class="table_column_user_links">
                        <a href="{% url 'user' pk=user.pk %}"><img src="static/{{ user_avatar }}" height=35 width=35></a>
                        <a href="{% url 'logout' %}"><img src="/static/images/logout.png" alt="Whitesquare logo"></a>
                    </td>
                {% else %}
                  <td><div><button class="btn btn-dark btn-lg" type="submit" onclick="window.location.href = '{% url 'login' %}';">Log In</button>
                      <button class="btn btn-dark btn-lg" type="submit" onclick="window.location.href = '{% url 'signup' %}';">Sign up</button></div></td>
            {% endif %}
{% endblock %}
<ul class="nav nav-justified">
      <li class="active"><a href="index.html">Главная</a></li>
      <li><a href="Repytw.html">Кузнец</a></li>
      <li><a href="#">Алхимия</a></li>
      <li><a href="#">Магические товары</a></li>
      <li><a href="#">Обычные вещи</a></li>
    </ul>
{% block content_center %}
<table class="table_header">
        <tr>
            <td>
                <form name="search" action="{{ search_action }}" method="get">
                    <div>
                      <input type="search" placeholder="Search" name="q">
                      <input class="search_button"  type="submit" value="GO">
                    </div>
                </form>
            </td>
        </tr>
</table>
<table>
    {% for p in  products  %}
    <div class="row">
      <nav>
        <ul class="nav nav-justified">
          <li> {{p.title}}</li>
          <li> <img src="/static/{{p.product_img}}" height=60 width=100 alt="Whitesquare logo"> </li>
            <li> {{p.description}}</li>
            <li> Цена {{p.price}}</li>
            <li> Степень Редкости {{p.rare}}</li>
            <li> Можно использовать {{p.number_of_uses}} </li>
        </ul>
      </nav>
    </div>
    {% if user.is_authenticated %}
    <div>
        <a href="{{ p.get_absolute_url }}">Купить {{ product.title }}</a><br>
    </div>
    {% endif %}
  {% endfor %}
  </table>
{% endblock %}
lj,